/bower_components
/node_modules
/typings
/_SpecRunner.html
/build
/.grunt
/src/main/webapp/scripts/vendor
/src/main/webapp/scripts/app
/src/main/webapp/index-dev.html
/src/main/webapp/WEB-INF/classes
/src/main/ts/*.d.ts
/.project
/.settings/com.palantir.typescript.prefs
/src/main/ts/vendor
/.classpath
/.gradle
/.settings
/doc/~$ユーザーストーリー見積もり.xlsx
/rusk.log*
/bin/
/db/