<h1 class="text-center">日別履歴</h1>

<hr>

<div class="form-inline form-group text-center">
  <div class="form-group">
    <label for="searchDate" class="control-label">日付</label>
    <input id="searchDate" type="text" class="form-control" />
  </div>
  <div class="form-group">
    <button class="btn btn-default">検索</button>
  </div>
</div>

<table id="daily-history-table" class="table table-striped table-bordered container">
  <thead>
    <tr>
      <th class="text-center">タスク</th>
      <th class="text-center">作業時間(h)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="text-right">合計</td>
      <td></td>
    </tr>
  </tbody>
</table>
