<div ng-if="taskList">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-5">
        <a class="btn btn-primary btn-block" data-toggle="modal" data-target="#register-task">新規登録</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h3>作業中</h3>
        <rusk-task-tag task="inWorking" on-remove="inquireTaskList()" ng-if="inWorking"></rusk-task-tag>
        <div ng-show="!inWorking">
          作業中のタスクは存在しません。
        </div>
        
        <h3>未完了</h3>
        <rusk-task-tag ng-repeat="task in taskList.uncompleteTasks" task="task" on-remove="inquireTaskList()"></rusk-task-tag>
        <div ng-show="taskList.uncompleteTasks.length === 0">
          未完了のタスクは存在しません。
        </div>
      </div>
      
      <div class="col-xs-12 col-md-6">
        <h3>完了</h3>
        <rusk-task-tag ng-repeat="task in taskList.completeTasks" task="task" on-remove="inquireTaskList()"></rusk-task-tag>
        <div ng-show="taskList.completeTasks.length === 0">
          完了タスクは存在しません。
        </div>
      </div>
    </div>
  </div>
  
  <rusk-register-task id="register-task" on-registered="inquireTaskList()"></rusk-register-task>
</div>
<div ng-if="!taskList">
  <h1>タスク一覧を読み込んでいます...</h1>
</div>