body {
  padding-top: 70px;
  padding-bottom: 2em;
}

h3 {
  border-bottom: 1px solid #ccc;
}

textarea {
  resize: vertical;
  min-height: 1em !important;
}

.error {
  color: red;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.cursor {
  cursor: pointer;
}