<div class="panel" ng-class="panelClass">
  <div class="panel-heading">
    <rusk-ranked-label rank="task.priority.rank" complete="task.completed">{{task.priority.rank}}</rusk-ranked-label>
    
    <a href="#/task/{{task.id}}" class="panel-title">{{task.title}}</a>

    <button type="button" class="close pull-right" aria-hidden="true" ng-click="remove()">&times;</button>
    
    <div class="dropdown pull-right margin-right-10">
      <a data-toggle="dropdown" class="btn btn-xs btn-default">{{task.status | status}}<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li ng-repeat="status in task.enableToSwitchStatusList"><a href="#" ng-click="switchStatus(task, status, $event);">{{status | status}}</a></li>
      </ul>
    </div>
  </div>
  <div class="panel-body">
    <div>
      期限 {{task.priority.urgency.period | date:"yyyy/MM/dd HH:mm:ss"}}
    </div>
    <div>
      作業時間 {{task.totalWorkTime | timeDuration}}
    </div>
  </div>
</div>
